body {
    font-family: sans-serif;
}

textarea {
    font-family: monospace;
}

.navbar {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.ics-logo {
    height: 100%;
}

.navbar a {
    background-color: #04027C !important; /* Blue background color */
    color: #FFFFFF !important; /* White text color */
    margin: 0.16em;
    padding: 0.64em;
    text-decoration-line: none;
}
